    <div>
    <a href="/">Home</a> |
    <a href="users/add">Ajouter un user</a> |
    <a href="/users">Tous les users</a> 
    </div>
    
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/script.js"></script>

</body>
</html>