<% include layouts/header.ejs %>

  <div class="cover desactive">
    <div class="menu">
      <div id="quitter"></div>
      <!-- OPTION BOUTTON PETIT DEJEUNER -->
      <div class="matin">
        <div class="menuInfo row">
          <div class="imageMenu grid-6" style="background-image:url(images/ptit1.jpg)"></div>
          <div class="infoMenu grid-7">CERELAC AU JUS</div>
          <div class="optionPayer grid-3"><button class="btn  btn btn-success">valider</button></div>
          <div class="optionPayer grid-3"><button class="btn btn btn-danger" >annuler</button></div>
        </div>
        <div class="menuInfo row">
          <div class="imageMenu grid-6" style="background-image:url(images/ptit2.jpg)"></div>
          <div class="infoMenu grid-7">TARTINE AU FROMAGE</div>
          <div class="optionPayer grid-3"><button class="btn  btn btn-success">valider</button></div>
          <div class="optionPayer grid-3"><button class="btn btn btn-danger" >annuler</button></div>
        </div>
        <div class="menuInfo row">
          <div class="imageMenu grid-6" style="background-image:url(images/ptit3.jpg)"></div>
          <div class="infoMenu grid-7">LAIT CERELAC</div>
          <div class="optionPayer grid-3"><button class="btn  btn btn-success">valider</button></div>
          <div class="optionPayer grid-3"><button class="btn btn btn-danger" >annuler</button></div>
        </div>
        <div class="menuInfo row">
          <div class="imageMenu grid-6" style="background-image:url(images/ptit4.jpg)"></div>
          <div class="infoMenu grid-7">SNAQUE AU MIEL</div>
          <div class="optionPayer grid-3"><button class="btn  btn btn-success">valider</button></div>
          <div class="optionPayer grid-3"><button class="btn btn btn-danger" >annuler</button></div>
        </div>
      </div>
      <div class="midi">
        <div class="menuInfo row">
          <div class="imageMenu grid-6" style="background-image:url(images/deje4.jpeg)"></div>
          <div class="infoMenu grid-7">HAMBURGER AU MOUTON</div>
          <div class="optionPayer grid-3"><button class="btn  btn btn-success">valider</button></div>
          <div class="optionPayer grid-3"><button class="btn btn btn-danger" >annuler</button></div>
        </div>
        <div class="menuInfo row">
          <div class="imageMenu grid-6" style="background-image:url(images/deje3.jpeg)"></div>
          <div class="infoMenu grid-7">CHAWAMA AU POULET</div>
          <div class="optionPayer grid-3"><button class="btn  btn btn-success">valider</button></div>
          <div class="optionPayer grid-3"><button class="btn btn btn-danger" >annuler</button></div>
        </div>
        <div class="menuInfo row">
          <div class="imageMenu grid-6" style="background-image:url(images/deje2.jpeg)"></div>
          <div class="infoMenu grid-7">DOUBLE BURGER</div>
          <div class="optionPayer grid-3"><button class="btn  btn btn-success">valider</button></div>
          <div class="optionPayer grid-3"><button class="btn btn btn-danger" >annuler</button></div>
        </div>
        <div class="menuInfo row">
          <div class="imageMenu grid-6" style="background-image:url(images/deje1.jpeg)"></div>
          <div class="infoMenu grid-7">SALADE AU FRITES</div>
          <div class="optionPayer grid-3"><button class="btn  btn btn-success">valider</button></div>
          <div class="optionPayer grid-3"><button class="btn btn btn-danger" >annuler</button></div>
        </div>
      </div>
      <div class="soir">
        <div class="menuInfo row">
          <div class="imageMenu grid-6" style="background-image:url(images/p3.jpg)"></div>
          <div class="infoMenu grid-7" > <center> POISSON AU MIEL</center></div>
          <div class="optionPayer grid-3"><button class="btn  btn btn-success">valider</button></div>
          <div class="optionPayer grid-3"><button class="btn btn btn-danger" >annuler</button></div>
        </div>
        <div class="menuInfo row">
          <div class="imageMenu grid-6" style="background-image:url(images/diner.jpeg)"></div>
          <div class="infoMenu grid-7">POISSON AU CRUDITER</div>
          <div class="optionPayer grid-3"><button class="btn  btn btn-success">valider</button></div>
          <div class="optionPayer grid-3"><button class="btn btn btn-danger" >annuler</button></div>
        </div>
        <div class="menuInfo row">
          <div class="imageMenu grid-6" style="background-image:url(images/diner2.jpeg)"></div>
          <div class="infoMenu grid-7">POULET A LA POMME</div>
          <div class="optionPayer grid-3"><button class="btn  btn btn-success">valider</button></div>
          <div class="optionPayer grid-3"><button class="btn btn btn-danger" >annuler</button></div>
        </div>
        <div class="menuInfo row">
          <div class="imageMenu grid-6" style="background-image:url(images/diner4.jpeg)"></div>
          <div class="infoMenu grid-7">SALADE AU POISSON</div>
          <div class="optionPayer grid-3"><button class="btn  btn btn-success">valider</button></div>
          <div class="optionPayer grid-3"><button class="btn btn btn-danger" >annuler</button></div>
        </div>
      </div>
    </div>
  </div>
    <div class="name">
      <img src="images/logo.jpg" class="image">
      <h1><%= title %></h1> 
      <button class="btn btn-success inscrit">s'inscrire</button>  
      </div>
    <div class="button">
       <div> <img src="images/panier4.jpg" class="panier"></div>
       <div class="paragraphe"> <p>Minoush Cuisner vous propose des plats <br>faits maison avec des aliments frais  qui <br> nous sont livrer par les agriculteurs <br><br>pour tout vos commentaire  <br>vous pouvez nous conctacter <br> au numero suivant:59770575</p></div>
        <button class="btn btn-success butt diner">Diner</button>
        <button class="btn btn-success butt dejeuner">Dejeuner</button>
        <button class="btn btn-success butt petitDejeuner">petit Dejeuner</button>
    </div>
    <div class="Form desactive">
      <h1>MinoushForm</h1>
      <center>
        <form>
      <div id="Quitter"></div>

       <input type="text" name="nom" placeholder="nom" class="input">
       <input type="text" name="prenom" placeholder="prenom" class="input"> <br>
       <input type="email" name="email" placeholder="email" class="input">
       <input type="number" name="numero" placeholder="numero" class="input"> 
       <div> <center> <button class="btn btn-danger valider ">valider</button></center></div>

      </form>
   </center>
       
    </div>
  </div>

  <% include layouts/footer.ejs %>